/* #mask{
    height: 30px;
} */
/* .carouselcard {
    height: 1000px;

    /* max-height: fit-content; */
/*} */
/* .carousalContainer{ */
    /* width:700px;
    height: 700px; */
    /* display: flex;
    justify-content: center;
    align-items: center;
  }
   */
  /* .carousalImg{ */
    /* object-fit:fill ; */
    /* height: 75vh;
    width: 7.5vw;
   */
  /* } */

