body{
    background-image: url(https://ysm-res.cloudinary.com/image/upload/c_fill,f_auto,g_faces:auto,h_720,q_auto,w_1280/v1/yale-medicine/live-prod/ym_new/images/3655000d-7adc-4e0f-a0ab-ac5d5ce337fa_tcm990-383423.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h2{
   padding-top: 25px;
   padding-left: 27px ;
    font-size: 50px;
    font-family: 'Jaldi', sans-serif;
    font-weight: bold;
    /* margin: auto; */
    margin: 2px;
}
.container{
   
    width: 752px;;
    height: 446px;;
    border-radius:4px;
    /* display:flex;
    flex-direction:column; */
    /* justify-content:center; */
    /* align-items:center; */
    background-color: white;
    opacity: 0.85;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 3px solid rgb(255, 255, 255,0);
}
#details{
    display:flex;
    flex-direction:column;
    /* justify-content:center; */
    align-items:center;
    padding-top:20px;
}
#button{
    background-color:#C96F66;
    border: 1px white solid;
    padding: 8px 46px;
    /* ratio is 4:13 */
    color: white;
    border-radius: 4px;
    font-size: 25px;
}
#email{
    border: 5px solid #3D3C38;    
    font-size: 32px;
    width: 439px;
    margin-top: -50px;
    font-weight: bold;
    font-family: 'Jaldi', sans-serif;
}
#password{
    border: 5px solid #3D3C38;
    font-size: 32px;
    width: 439px;
    font-weight: bold;
    font-family: 'Jaldi', sans-serif;
    background-color: white;
    opacity: 1;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* #register */
 a:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Jaldi', sans-serif;
    font-size: 20px;
}
/* #register  */
a:visited {
    color: #93C0BD;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Jaldi', sans-serif;
    font-size: 20px;
  }
/* #register  */
a:hover {
    color: #FCCBAB;
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Jaldi', sans-serif;
    font-size: 20px;
}