<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/c6912bf07b.js" crossorigin="anonymous"></script>

<div class="footer-container" id="footer">
    <footer class="bg-light text-center text-white ">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-0" style="padding-bottom: 1%;">
                <!-- Facebook -->
                <!-- Google -->
                <a class="btn btn-primary btn-floating m-1 " style="background-color: #dd4b39; " target="_blank" href="mailto:dmishika2002@gmail.com" role="button "><i class="fab fa-google "></i
        ></a>

                <!-- Instagram -->
                <a class="btn btn-primary btn-floating m-1 " style="background-color: #ac2bac; " target="_blank" href="https://www.instagram.com/its_ishikade/" role="button "><i class="fab fa-instagram "></i
        ></a>

                <!-- Linkedin -->
                <a class="btn btn-primary btn-floating m-1 " style="background-color: #0082ca; " target="_blank" href="https://www.linkedin.com/in/ishika-de/" role="button "><i class="fab fa-linkedin-in "></i
        ></a>
                <!-- Github -->
                <a class="btn btn-primary btn-floating m-1 " style="background-color: #333333; " target="_blank" href="https://github.com/IshikaDe-2803" role="button "><i class="fab fa-github "></i
        ></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <!-- <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2); ">
      © 2020 Copyright:
      <a class="text-white " href="https://mdbootstrap.com/ ">MDBootstrap.com</a>
    </div> -->
        <!-- Copyright -->
    </footer>
</div>